div {
  width: 290px;
  height:282px;
  border: 1px solid;
  position: static;
  text-align: center;

}

div>div {
  width:50px; 
  height:50px;
  margin:10px;
  padding:10px;
  background-color: aquamarine;
  text-align: center;
  line-height: 50px;
  display: inline-block;
}

.aa {
  position: relative;
  /* left: 50px;
  top: 50px; */
}

.bb {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  top: 5px;
  left: 5px;
}


.zindex {
  width: 100px;
  height:100px;
}

.qq {
  width: 200px;
  height: 200px;
  position:relative;
  display: inline-block;
}

.aaa {
  background-color: aquamarine;
  z-index: 3;
}

.bbb {
  top: 100px;
  right: 100px;
  background-color: blanchedalmond;
  z-index: 1;
}

.ccc {
  top: 150px;
  right: 250px;
  background-color: tomato;
  z-index: 2;
}
